<div class="container">
  <div class="row justify-content-center">
    <div col-lg-7 col-md-7>
      <div class="card text-white bg-dark mb-3" style="width: 30rem;">
        <div class="card-header"><h2>Registrate Gratis</h2></div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control col-lg-12' %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control col-lg-12' %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control col-lg-12' %>
            </div>
            <br/>
            <div class="row">
              <div class="actions col-lg-12">
                <div class="float-right">
                  <%= f.submit "Registrarse", :class => 'btn btn-primary' %>
                </div>
              </div>
          <% end %>
          <div class="col-lg-12">
            <div class="">
              <%= render "devise/shared/links" %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>