<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>"> Pinterest </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= pins_path %>"> Pins </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Pricing </a>
      </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_registration_path %>">Registrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>